.q3s-navigation-drawer__logo {
  background-image: url("/assets/svg/favicon.svg?v={{ build_number }}");
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 72px;
  background-position: 16px 18px;
}

.q3s-navigation-drawer__menu-content {
  display: flex;
}

.q3s-navigation-drawer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}