q3s-code-scanner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.q3s-code-scanner__card--video,
.q3s-code-scanner__video {
  background-color: black;
}

.q3s-code-scanner__card-content {
  padding: 16px;
}

.q3s-code-scanner__hide {
  display: none;
}

.q3s-code-scanner__error{
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
}