q3s-code-scanner {
  display: flex;
  flex-direction: column;
}

.q3s-code-scanner__video-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.q3s-code-scanner__video {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

.q3s-code-scanner__capture-area-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: grid;
  grid-template-columns: 1fr calc(100vmin - 6rem) 1fr;
  grid-template-rows: calc(48px + 1.5rem) calc(100vmin - 6rem) 1fr;
}

.q3s-code-scanner__capture-area-constraint-bg {
  background-color: #000a;
}

.q3s-code-scanner__card-content {
  padding: 16px;
}

.q3s-code-scanner__card-content p:first-child {
  margin-top: 0;
}

.q3s-code-scanner__card-content p:last-child {
  margin-bottom: 0;
}

.q3s-code-scanner__hide {
  display: none;
}

.q3s-code-scanner__error {
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
}