@use "@material/theme";
@use "../variables";

q3s-code-scanner {
  display: flex;
  flex-direction: column;
}

.q3s-code-scanner__video-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.q3s-code-scanner__video {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

.q3s-code-scanner__capture-area-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60vmin 1fr;
  grid-template-rows: 35vmin 60vmin 1fr;
}

@media (orientation: landscape) {
  .q3s-code-scanner__capture-area-container {
    grid-template-rows: calc(48px + 1.5rem) 60vmin 1fr;
  }
}

.q3s-code-scanner__capture-area-constraint-bg {
  background-color: #000a;
}

.q3s-code-scanner__capture-area {
  border: rgba($color: theme.$on-primary, $alpha: variables.$videocam-opacity) 1px solid;
  background-repeat: no-repeat;
  background-size: contain;
}

.q3s-code-scanner__card-content {
  padding: 16px;
}

.q3s-code-scanner__card-content p:first-child {
  margin-top: 0;
}

.q3s-code-scanner__card-content p:last-child {
  margin-bottom: 0;
}

.q3s-code-scanner__hide {
  display: none;
}

.q3s-code-scanner__error {
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
}

.testResultElm {
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
  padding: 1rem;
}