@use "./variables";
@use "@material/theme" with (
  $primary: variables.$primary,
  $secondary: variables.$secondary,
  $on-primary: variables.$on-primary,
  $on-secondary: variables.$on-secondary,
);

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.q3s-primary-bg-opacity {
  background-color: rgba($color: theme.$primary, $alpha: variables.$videocam-opacity);
}

.q3s-secondary-bg-opacity {
  background-color: rgba($color: theme.$secondary, $alpha: variables.$videocam-opacity);
}