html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.navigation-drawer__logo {
  background-image: url("/assets/svg/favicon.svg?v={{ build_number }}");
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 72px;
  background-position: 16px 18px;
}

.navigation-menu__content {
  display: flex;
}

.navigation-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}