---
---
{% capture build_number %}{{ site.github.build_revision }}{{ site.time | date: '%Y%m%d%H%M%S' }}{% endcapture %}
html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
q3s-navigation-router {
  display: contents;
}

q3s-navigation-container {
  display: none;
}

q3s-navigation-container[activated] {
  display: contents;
}
.q3s-navigation-drawer__logo {
  background-image: url("/assets/svg/favicon.svg?v={{ build_number }}");
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 72px;
  background-position: 16px 18px;
}

.q3s-navigation-drawer__menu-content {
  display: flex;
}

.q3s-navigation-drawer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.q3s-code-scanner__button-fixed {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.q3s-code-scanner__button-fixed .mdc-fab__icon {
  width: 28px;
  height: 28px;
  font-size: 28px;
}
q3s-main-content-controller {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}