---
---
{% capture build_number %}{{ site.github.build_revision }}{{ site.time | date: '%Y%m%d%H%M%S' }}{% endcapture %}
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.q3s-primary-bg-opacity {
  background-color: rgba(40, 53, 147, 0.7);
}

.q3s-secondary-bg-opacity {
  background-color: rgba(26, 35, 126, 0.7);
}
q3s-navigation-router {
  display: contents;
}

q3s-navigation-container {
  display: none;
}

q3s-navigation-container[activated] {
  display: contents;
}
.q3s-navigation-drawer__logo {
  background-image: url("/assets/svg/favicon.svg?v={{ build_number }}");
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 72px;
  background-position: 16px 18px;
}

.q3s-navigation-drawer__menu-content {
  display: flex;
}

.q3s-navigation-drawer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.q3s-code-scanner__button-container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.q3s-code-scanner__button .mdc-fab__icon {
  width: 28px;
  height: 28px;
  font-size: 28px;
}
q3s-main-content-controller {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  flex-grow: 1;
}
q3s-code-scanner {
  display: flex;
  flex-direction: column;
}

.q3s-code-scanner__video-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.q3s-code-scanner__video {
  min-width: 100%;
  min-height: 100%;
  background-color: black;
}

.q3s-code-scanner__capture-area-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60vmin 1fr;
  grid-template-rows: 35vmin 60vmin 1fr;
}

@media (orientation: landscape) {
  .q3s-code-scanner__capture-area-container {
    grid-template-rows: calc(48px + 1.5rem) 60vmin 1fr;
  }
}
.q3s-code-scanner__capture-area-constraint-bg {
  background-color: #000a;
}

.q3s-code-scanner__capture-area {
  border: rgba(255, 255, 255, 0.7) 1px solid;
  background-repeat: no-repeat;
  background-size: contain;
}

.q3s-code-scanner__card-content {
  padding: 16px;
}

.q3s-code-scanner__card-content p:first-child {
  margin-top: 0;
}

.q3s-code-scanner__card-content p:last-child {
  margin-bottom: 0;
}

.q3s-code-scanner__hide {
  display: none;
}

.q3s-code-scanner__error {
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
}

.testResultElm {
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
  padding: 1rem;
}
q3s-editor-controller {
  display: flex;
  flex-direction: column;
}