---
---
{% capture build_number %}{{ site.github.build_revision }}{{ site.time | date: '%Y%m%d%H%M%S' }}{% endcapture %}
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
q3s-navigation-router {
  display: contents;
}

q3s-navigation-container {
  display: none;
}

q3s-navigation-container[activated] {
  display: contents;
}
.q3s-navigation-drawer__logo {
  background-image: url("/assets/svg/favicon.svg?v={{ build_number }}");
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 72px;
  background-position: 16px 18px;
}

.q3s-navigation-drawer__menu-content {
  display: flex;
}

.q3s-navigation-drawer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.q3s-code-scanner__button-container {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.q3s-code-scanner__button .mdc-fab__icon {
  width: 28px;
  height: 28px;
  font-size: 28px;
}
q3s-main-content-controller {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
q3s-code-scanner {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  top: calc(48px + 0.5rem);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.q3s-code-scanner__card--video,
.q3s-code-scanner__video {
  background-color: black;
  max-width: 100%;
}

.q3s-code-scanner__card-content {
  padding: 16px;
}

.q3s-code-scanner__card-content p:first-child {
  margin-top: 0;
}

.q3s-code-scanner__card-content p:last-child {
  margin-bottom: 0;
}

.q3s-code-scanner__hide {
  display: none;
}

.q3s-code-scanner__error {
  white-space: pre-wrap;
  word-break: break-all;
  color: #B22222;
}
q3s-editor-controller {
  display: flex;
  flex-direction: column;
}